@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Braah+One&family=Noto+Sans+TC:wght@100..900&display=swap");
/* 標籤重置區 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  /* 光學尺寸 */
  font-optical-sizing: auto;
  color: #333;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  list-style: none; /* 清單的點點拿掉 */
}

img {
  display: block;
  width: 100%;
}

a {
  /* 標籤a預設屬性是inline=>無法設定間距及寬高=>改為block */
  display: block;
  color: #333;
  text-decoration: none;
} /* reset END*/
@keyframes show {
  from {
    transform: translateY(-20px);
    /* 或其他適當的變換 */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hide {
  from {
    transform: translateY(0px);
    opacity: 1;
    display: flex;
    /*動態顯示*/
  }
  to {
    transform: translateY(20px);
    opacity: 0;
    display: none;
    /*動態消失*/
  }
}
body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  background-image: url(../images/BG-texture-400.jpg);
}

/* 頁首區 */
#topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 64px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#topbar .logo {
  width: 232px;
}
#topbar .navigation {
  display: flex;
  align-items: center;
}
#topbar .navigation .search {
  margin-right: 36px;
}
#topbar .navigation .search li {
  background-image: url(../images/nav-search.svg);
  background-size: cover;
  padding: 12px 23px 10px 19px;
}
#topbar .navigation .search li a {
  display: flex;
  align-items: center;
}
#topbar .navigation .search li a img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
#topbar .navigation .menu li {
  background-image: url(../images/nav-menu.svg);
  background-size: cover;
  padding: 15px 16px;
}
#topbar .navigation .menu li img {
  width: 34px;
  height: 34px;
}

/* 共用設定 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 160px;
}

.title {
  margin: 24px 0;
  display: flex;
  align-items: center;
  gap: 14px;
}

.btn-area {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: flex-end;
  margin-top: 80px;
}
.btn-area .btn-seeAll {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.btn-area .btn-seeAll p {
  font-weight: 700;
  z-index: 1;
  margin-right: 8px;
}
.btn-area .btn-seeAll img {
  width: 24px;
  height: 24px;
}
.btn-area .btn-seeAll .seeAll-deco {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 84px;
  bottom: -6px;
}

/* 會員資料區 */
#member .memberWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* 編輯按鈕統一設定 */
  /* 會員簡歷 */
}
#member .memberWrap .icon-edit {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}
#member .memberWrap .resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20%;
}
#member .memberWrap .resume .avatar {
  position: relative;
  margin: 40px;
}
#member .memberWrap .resume .avatar .camera {
  width: 50px;
  height: 50px;
  padding: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #E3E3E3;
  border-radius: 50%;
  cursor: pointer;
}
#member .memberWrap .resume .avatar .camera > img {
  width: 100%;
  object-fit: contain;
}
#member .memberWrap .resume .avatar .ava-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #E3E3E3;
}
#member .memberWrap .resume .avatar .ava-photo > img {
  width: 100%;
  object-fit: cover;
}
#member .memberWrap .resume .name-default {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
#member .memberWrap .resume .member-level {
  padding: 33px 16px;
  position: relative;
  line-height: 170%;
}
#member .memberWrap .resume .member-level .level-count {
  margin-top: 16px;
}
#member .memberWrap .resume .member-level span {
  font-weight: 400;
  color: #625759;
}
#member .memberWrap .resume .member-level::before {
  content: "";
  background-image: url(../images/Vector-line.svg);
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
#member .memberWrap .resume .member-level::after {
  content: "";
  background-image: url(../images/Vector-line.svg);
  background-repeat: repeat;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#member .memberWrap .information {
  width: 100%;
}
#member .memberWrap .information .info .dataBox {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  padding: 20px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#member .memberWrap .information .info .dataBox .data {
  position: relative;
  padding: 16px;
}
#member .memberWrap .information .info .dataBox .data .data-text {
  font-size: 1.2rem;
  margin-top: 24px;
}
#member .memberWrap .information .info .dataBox .data::after {
  content: "";
  background-image: url(../images/Vector-line2.svg);
  background-repeat: repeat;
  background-position: left;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0px;
  left: -1px;
}
#member .memberWrap .information .password {
  margin-top: 80px;
}
#member .memberWrap .information .password > .title h2 {
  margin-right: 48px;
}
#member .memberWrap .information .password .password-btn {
  border: 0;
  color: white;
  background-color: #483D3F;
  font-size: 16px;
  padding: 14px 24px;
  border-radius: 99px;
  cursor: pointer;
}
#member .memberWrap .information .password .password-cancel {
  border: 0;
  color: #483D3F;
  background-color: transparent;
  border: 2px solid #483D3F;
  font-size: 16px;
  padding: 14px 24px;
  border-radius: 99px;
  cursor: pointer;
}
#member .memberWrap .information .password #password-form {
  display: none;
  flex-direction: column;
}
#member .memberWrap .information .password #password-form label {
  margin: 20px 0;
}
#member .memberWrap .information .password #password-form input,
#member .memberWrap .information .password #password-form textarea {
  color: #483D3F;
  padding: 10px;
  border-radius: 6px;
  border: none;
}
#member .memberWrap .information .password #password-form input::placeholder,
#member .memberWrap .information .password #password-form textarea::placeholder {
  color: #888;
}
#member .memberWrap .information .password #password-form input:focus,
#member .memberWrap .information .password #password-form textarea:focus {
  outline: 2px solid #483D3F;
  background-color: #feebba;
}
#member .memberWrap .information .password .confirm-btn {
  margin: 24px 0;
  display: none;
  gap: 24px;
}
#member .memberWrap .information .password #password-form.show,
#member .memberWrap .information .password .confirm-btn.show {
  display: flex;
  animation: show 0.8s both;
}

/* 預約記錄區 */
#reserve .title {
  width: 70%;
  max-width: 1000px;
}
#reserve .reserve-cardsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#reserve .reserve-cardsBox .reserve-row,
#reserve .reserve-cardsBox .reserve-row-finish {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  height: 240px;
}
#reserve .reserve-cardsBox .reserve-row .rowIMG,
#reserve .reserve-cardsBox .reserve-row-finish .rowIMG {
  width: 30%;
  height: 100%;
}
#reserve .reserve-cardsBox .reserve-row .rowIMG img,
#reserve .reserve-cardsBox .reserve-row-finish .rowIMG img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#reserve .reserve-cardsBox .reserve-row .reserve-content,
#reserve .reserve-cardsBox .reserve-row-finish .reserve-content {
  width: 70%;
  height: 100%;
  padding: 20px 20px 20px 60px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}
#reserve .reserve-cardsBox .reserve-row .reserve-content .txt .tag-state,
#reserve .reserve-cardsBox .reserve-row-finish .reserve-content .txt .tag-state {
  background-image: url(../images/upcoming.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 15px;
  color: white;
  font-size: 0.85rem;
  margin-bottom: 20px;
}
#reserve .reserve-cardsBox .reserve-row .reserve-content .txt h3,
#reserve .reserve-cardsBox .reserve-row-finish .reserve-content .txt h3 {
  font-size: 1.25rem;
  margin-bottom: 32px;
}
#reserve .reserve-cardsBox .reserve-row .reserve-content .txt .class-item,
#reserve .reserve-cardsBox .reserve-row-finish .reserve-content .txt .class-item {
  color: #B07662;
  margin-bottom: 16px;
}
#reserve .reserve-cardsBox .reserve-row .reserve-content .btn-reserve,
#reserve .reserve-cardsBox .reserve-row-finish .reserve-content .btn-reserve {
  border: 0;
  color: white;
  background-color: #483D3F;
  font-size: 16px;
  width: 112px;
  height: 44px;
  border-radius: 99px;
  cursor: pointer;
}
#reserve .reserve-cardsBox .reserve-row.finish > .reserve-content .txt .tag-state {
  background-image: url(../images/completed.svg);
  padding: 10px 15px;
}
#reserve .reserve-cardsBox .reserve-row.finish .rowIMG {
  filter: grayscale(60%);
}

/* 收藏區 */
#like .card-area {
  display: flex;
  justify-content: space-between;
}
#like .card-area .classCard {
  position: relative;
  width: 320px;
}
#like .card-area .classCard div {
  display: flex;
  justify-content: space-between;
}
#like .card-area .classCard .classPhoto {
  width: 320px;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
}
#like .card-area .classCard .classPhoto .classPhoto-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#like .card-area .classCard .classPhoto .tagHotorNew {
  width: 56px;
  position: absolute;
  left: 4px;
  top: 4px;
  z-index: 10;
}
#like .card-area .classCard .classTag {
  margin: 20px 0;
  justify-content: left;
}
#like .card-area .classCard .classTag p {
  color: #ffffff;
  font-size: 13px;
  margin-right: 12px;
}
#like .card-area .classCard .classTag .classLevel {
  background-image: url(../images/tag-level.svg);
  padding: 7px 16px 8px;
}
#like .card-area .classCard .classTag .classTime {
  background-image: url(../images/tag-time.svg);
  padding: 5px 17.5px 4px 13px;
  background-repeat: no-repeat;
}
#like .card-area .classCard .classTitle {
  align-items: start;
  margin-bottom: 24px;
}
#like .card-area .classCard .classTitle h3 {
  font-size: 18px;
  font-weight: 600;
}
#like .card-area .classCard .classPrice {
  align-items: center;
}
#like .card-area .classCard .classPrice .classStoreName {
  color: #5a5a5a;
}
#like .card-area .classCard .classPrice .classPrice {
  color: #483D3F;
  font-size: 22px;
}
#like .card-area .classCard .icons-heart {
  width: 24px;
}

/* 心得區 */
#experience {
  width: 100%;
  max-width: none;
  align-items: center;
  background-image: url(../images/BG-img-share.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100px;
}
#experience .expWrapper {
  width: 70%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}
#experience .expTitle {
  display: flex;
  align-items: center;
  padding: 0 200px 0 300px;
  margin-bottom: 60px;
}
#experience .expTitle > img {
  width: 100%;
  height: 80px;
}
#experience .expTitle .btn-area {
  margin-top: 0;
}
#experience .newestExp .Exp {
  height: 300px;
  display: flex;
  margin: 40px 12px;
}
#experience .newestExp .Exp:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 2px 10px rgba(72, 61, 63, 0.4);
  border-radius: 10px;
  overflow: hidden;
}
#experience .newestExp .Exp:hover .expPic {
  border-radius: 10px 0 0 10px;
}
#experience .newestExp .Exp .expPic {
  width: 400px;
  height: 100%;
  border-radius: 1200px;
  overflow: hidden;
}
#experience .newestExp .Exp .expPic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#experience .newestExp .Exp .expContent {
  padding: 30px 20px 30px 65px;
  flex: 1;
}
#experience .newestExp .Exp .expContent .expInfo {
  display: flex;
}
#experience .newestExp .Exp .expContent .expInfo p {
  margin: 0 20px;
  font-size: 20px;
}
#experience .newestExp .Exp .expContent .expInfo img {
  height: 40px;
  width: auto;
}
#experience .newestExp .Exp .expContent .expDate {
  display: flex;
  margin: 10px 0;
}
#experience .newestExp .Exp .expContent .expDate p {
  color: #5A5A5A;
  font-size: 14px;
}
#experience .newestExp .Exp .expContent .expDate span {
  margin: 0 10px;
}
#experience .newestExp .Exp .expContent .expTxt {
  font-weight: 400;
  line-height: 170%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  padding-right: 40px;
  margin-top: 24px;
}

/* 頁尾區 */
footer {
  background-color: #483D3F;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
footer .footer-bgDeco {
  position: relative;
  width: 100%;
  height: 100%;
}
footer .footer-bgDeco img {
  position: absolute;
  bottom: -1px;
}
footer .foot-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 100px;
}
footer .foot-content img {
  width: 338px;
  height: 72px;
}
footer .menu {
  display: flex;
  text-align: center;
}
footer .menu > li {
  width: 6rem;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 400;
}
footer .menu > li ul {
  margin: 15px 0;
}
footer .menu > li ul > li {
  padding: 4px 0;
}
footer a,
footer li,
footer small {
  color: white;
}
footer small {
  margin-bottom: 50px;
  font-size: 0.8rem;
}/*# sourceMappingURL=styles.css.map */